.article-cover{
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-text{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8;
    color: #212529;
    text-align: left;
}