.blog-sidebar .aside-li{
    .list-group-item{
      border:none;
      padding:0px!important;
    }

    a{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        &:hover{
            text-decoration: none;
        }
        h5:hover{
            color: #007bff;
        }
    }
  }