  body{
    padding-top: 4.5rem;
  }

  aside{
    font-size: small;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header{
    border-bottom: 1px solid #ece8e8ee;
    background-color: white;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .gva-article-title{
    color: #232A31;
    font-size: 3.08em;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.2;
  }

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgias, serif;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, serif;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  /*
   * Blog name and description
   */
  .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }
  
  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }

  .logo-gva{
    width: 300px;
  }

  .nav-scroller{
    .nav{
      a{
        color: #271167;
      }
    }
  }
  .carousel-blog{
    .carousel-inner{
      .carousel-item{
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
/**
* this styles is used by link login, sign up
*/
  .nav-connection{
    a{
      color: #06385d;
      text-decoration: none;
      background-color: transparent;
    }
    flex-direction: column;
    float: right;
  }
  /********************** CARD ****************/

  .card-bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .mini-card-bg-img{
    width: auto;
    height: 102px;
    border-radius: 0.2rem;
    @extend .card-bg-img;
  }

  .card{
    .mini-card-title{
      font-size: 12px;
      font-weight: bold;
    }
  }

  .big-card-bg-img:hover .card-content-img,
  .big-card-bg-img:focus .card-content-img{
    transform: scale(1.2);
  }
  /*
  .big-card-bg-img:hover .card-content-img:before,
  .big-card-bg-img:focus .card-content-img:before{
    display:block;
  }

  .card-content-img:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
  }
  */
  /*******************************/

  .bq-for-u{
    font-size: 16px;
  }

  /**
  * li of little card under caroussel in home page
  */
  .menu-rubric {
    overflow-y: hidden;
    position: relative;
    .list-group .list-group-item{
    border: none;
    padding: 0%;
      a{
        color: #06385d;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }

  .main-li{
    padding-left: 0px!important;
    .list-group-item{
      border:none;
      padding: 0px!important;
    }
  }
  /*** SECTION 3 **************/
  .post-element{
    border: none;
    padding: 0%;
    a{
      background-color: transparent;
      &:hover{
        text-decoration: none;
      }
    }

    .card-title{
      color: #212529;
    }

    .card-body{
      color:#212529;
    }
  }

  .post-element{
    .card-element{
      border: 0!important;
    }
  }

  .post-element .card-element .col-element .card-body{
    padding-top: 0%;
  }
  

  .post-element .card-element .row-element .col-element .big-card-bg-img{
    width: auto;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 0.4rem;
  }

  .post-element .card-element .row-element .col-element .big-card-bg-img .card-content-img{
    width: auto;
    height: 150px;
    @extend .card-bg-img;
  }
  
  /*******************************/