/*********** responsive of logo, for you, connex**/
@media (max-width:767px){
    .blog-main{
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 10px;
    }

    .row-header-1{
        flex-wrap: wrap;
        .item-for-you{
            order: 2;
        }
        .item-logo{
            order: 1;
        }
        .item-connex{
            order: 3;
        }
    }

    .nav-connection{
        flex-direction: row !important;
        float: left;
    }

    .card .row-element .col-element .card-body{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px!important;
        padding-bottom: 0px;
    }

    .mini-card .row{
        .col-card-body .card-body{
            padding-left: 0px!important;
            padding-top: 5px!important;
        }
    }

    .needs-validation{
        padding-bottom: 5px;
    }

    .post-element .card-element .row-element .col-element .big-card-bg-img{
        width: auto;
        height: 300px;
    }

    .mini-card{
        margin-bottom: 2rem!important;
        .mini-card-bg-img{
            height: 300px;
        }
    }
}
/*****************************************************/